doctype html
html
  head
    include ./bootstrap.jade
    title= title
    //script(src='/javascripts/imgrotate.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
